.libro-reclamaciones{
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.libro-reclamaciones:hover{
    transform: translateX(4px) scale(1.05);
    cursor: pointer;
}
.libro-reclamaciones:hover p{
    color: #EDC900;
}